<h1>Event Details</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Date</th>
    <th></th>
    <th></th>
  </tr>

  <%= render 'event', event: @event %>

</table>

<p>(no further details available)</p>
